<div class="log-in">
  <h1 class="h1">Login</h1>
</div>
<div class="card">
    <div class="card-body">
        <main class="form-signin">
            <form>
                <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="Email address">
                <label for="floatingInput"><mat-icon> email</mat-icon>Email address</label>
              </div>
              <div class="form-floating">
                <input  type="password" class="form-control" id="floatingInput"  placeholder="Password">
                <label for="floatingPassword"><mat-icon>https</mat-icon>Password</label>
              </div>        
              <button class="login-button btn"  type="submit">Log In</button>              
              <p><a href="#" class="password">Forgot Password?</a></p>
              <p class="text-center"><a href="#">New User? Create Account</a></p>
            </form>
          </main>

    </div>
</div>
